[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "riscv-tests-am"]
	path = riscv-tests-am
	url = git@github.com:lihaoyan02/riscv-tests-am.git
	branch = master
